.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

#editor {
  width: 50%;
  height: 250px;
  margin-bottom: 100px;
}

#preview {
  margin: 0;
  width: 90%;
} 